@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  height: 100vh;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-shrink: 0;
}

.head {
    width:100%;
    display: flex;
}

.headone{
    display: flex;
    background: #131422;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-shrink: 0;
}

/*.sidebar {
    flex-shrink: 0;
    padding: 16px;
    width: 40px;
    background: #79747a;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }*/

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
  }
  
.card {
    padding: 16px;
    margin: 16px;
    width: 100%;;
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
  }

.header{
  display: flex;
  justify-content: center;
  padding: 16px;
  background: #131422;
  gap: 40px;
  height: 100vh;
  width:auto;
  text-align: center;
  font-size: 18px;
  flex-direction: column;
}

.textone{ 
    font-size: 50px;
    color: #416352;

}
.profilebar{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    flex-direction: column;
    border-radius: 20px;
    margin-left: 10px;
    justify-content: flex start;
    align-items: center;
}


.social{
    display: inline-flex;
    list-style: none;
    gap: 12px;
    color: black;
    text-decoration: none;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
}

.text {
    color: rgba(156, 136, 136, 0.733);
}

img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

p {
    color: black;
    margin-left: 10px;
}

a{
    text-decoration: none;
    color: #416352;
}

h2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bolder;
    color: black;
    font-size: 30px;
    margin-left: 30px;
}

.thirdcontainer {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    gap: 10px;
    height: 200px;
    flex-shrink: 0;
}

.fourthcontainer {
    display: flex;
    background: white;
    margin: 20px;
    flex-direction: row;
    padding: 50px;
    background: #009999;
    width: 345px;
    height: 70px;
    border-radius: 8px;
    color: white;
    align-items: center;
    justify-content: center;
    animation: move-in-steps 10s steps(3) infinite;
    display: inline-block;
    position: relative;
}

@keyframes move-in-steps {
    0% {
      left: 0;
      background:#79747a;
    }
    100% {
      left: 100%;
      background: rgb(65, 31, 75);
    }
  }

.firstquote {
    font-size: 23px;
    font-weight: bold;
}


.contactme {
    display:flex;
    gap: 20px;
}

.contact{
    background: #084747;
    border-radius: 8px;
    border: 1px solid white;
    width: 140px;
    height: 36px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: row;
}


.footer {
  display: flex;
  justify-content: center;
  padding: 15px;
  background: #131422;
  color: rgba(156, 136, 136, 0.733);
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  height: 40px;
  gap: 30px;
}



