@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  /*display: flex;*/
  /*flex-direction: column;*/
  width: 100%;
  /*flex-shrink: 0;*/
  background-color:  #424252;
  /*background-color: #acccca;*/
  /*background-color: #1e1f28;*/
  /*position: relative;*/
  
}

.head{
  display: flex;
}

.headone{
    display: flex;
    /*background:	rgb(28, 44, 53);*/
    /*background: #344453;*/
    flex-direction: column;
    /*background-color: #0d223b;*/
    align-items: center;
    justify-content: center;
    height: 80px;
    /*padding: 10px;*/
    /*flex-shrink: 0;*/
    /*gap: 30px;*/
    
}

.navbar {
  background-color: rgb(74, 102, 117);
  /*background-color: #8e9197;*/
  font-family: Arial;
  display: flex;
  cursor: pointer;
  /*margin-left: 325px;*/
  border-radius: 5px;
  position: sticky;
  top:0;
}

.navbar a {
  float: left;
  font-size: 16px;
  font-weight: bold;
  font-family:'Raleway', sans-serif;
  color: rgb(5, 5, 5);
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(53, 78, 73);
}
/*.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  /*margin: 0; }/* Important for vertical align on mobile phones */



/*.dropdown-content {
  display: none;
  position: inherit;
  background-color:rgb(154, 180, 180);
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(20, 20, 19, 0.2);
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  list-style: none;
}

.dropdown-content a:hover {
  background-color: rgb(70, 110, 129);
}

.dropdown:hover .dropdown-content {
  display: block;
}*/

/*.textone{ 
  font-size: 60px;
  color: rgb(202, 189, 154);
  /*color:#dddbde;*/
  /*display: flex;
  font-family: "Saira Extra Condensed", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  justify-content: center;
  align-items: center;
}*/

.texts{
  font-size: 55px;
  display: flex;
  font-family: "Saira Extra Condensed", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  justify-content: center;
  align-items: center;
  color:black;
}

/*.download {
  display: flex;
  flex-direction: row;
  margin-left: 18px;
}*/

.download{
  display: flex;
  margin: 19px;
  border: 2px solid rgb(26, 27, 27);
  box-shadow: 2px 4px 16px rgba(20, 20, 20, 0.06);
  border-radius: 5px;
}

.resume{
  display: flex;
  justify-content: center;
  width: 820px;
  /*background-color: #cd353c;*/
  background-color: #645632;
  padding: 10px;
  color: black;
  font-weight: bold;
}

.portfolio{
  display: flex;
  justify-content: center;
  width: 820px;
  background-color:#1f1f2b;
  padding: 10px;
  color: white;
}

/*.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background-color: rgb(233, 227, 227);
  margin: 10px;
  justify-content: flex-end;
  align-items: center;
}*/

.sidebar {
    flex-shrink: 0;
    padding: 16px;
    max-width: 180px;
    /*background:rgb(159, 167, 167);*/
    background-color: #1f1f2b;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 29px;
    top:0;
    justify-content: flex-start;
  }

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*margin-left: 180px;*/
  }

.card {
    padding: 20px;
    margin: 16px;
    border: 2px solid rgb(26, 27, 27);
    box-shadow: 2px 4px 16px rgba(20, 20, 20, 0.06);
    border-radius: 5px;
    background-color: #cbcad1;
  }

/*.header{
  display: flex;
  justify-content: center;
  padding: 16px;
  background: #131422;
  gap: 40px;
  height: 100vh;
  width:auto;
  text-align: center;
  font-size: 18px;
  flex-direction: column;
}*/

.profilebar{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    flex-direction: column;
    border-radius: 20px;
    margin-left: 10px;
    justify-content: flex start;
    align-items: center;
}


.social{
    display: inline-flex;
    list-style: none;
    gap: 12px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    flex-direction: row;
}

/*.text {
    color: black;
}*/
.wrapimg{
  display: flex;
  background-color: #31313f;
  width: 180px;
  height: 207px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

img {
    width: 130px;
    height: 130px;
    border-radius: 50px;
    max-width: 100%;
}

p {
    color: black;
    margin-left: 10px;
}

a{
    text-decoration: none;
    color:  rgb(47, 201, 201);
   
}

h2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bolder;
    font-size: 30px;
    margin-left: 30px;
}

.thirdcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px;
    height: 200px;
    flex-shrink: 0;
}

.split{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr{
  width: 400px;
}

.fourthcontainer {
    display: flex;
    /*margin: 20px;*/
    flex-direction: column;
    /*padding: 2px;*/
    background:  rgb(46, 79, 97);
    width: 100%;
    height: 140px;
    border-radius: 5px;
    color:rgb(5, 5, 5);
    justify-content: space-evenly;
    align-items: center;
    animation: example;
    animation-duration: 10s;
}

@keyframes example {
    from {background-color:#051616;}
    to {background-color: rgb(95, 148, 161);}
  }

.firstquote {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.contactme {
    display:flex;
    gap: 10px;
    flex-direction: row;   
}

.contact{
    background: #084747;
    border-radius: 8px;
    border: 1px solid white;
    width: 140px;
    height: 36px;
    font-weight: bold;
    font-size: 14px;
    display: flex;
}


.footer {
  display: flex;
  justify-content: center;
  padding: 15px;
  /*background:#0d223b;*/
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  height: 40px;
  gap: 30px;
}

.text {
  /*color: white;*/
  color: rgb(0, 0, 0);
}



